/* column options example */

.column-options {
	border-collapse: collapse;
	border-bottom: 1px solid #d6d6d6;}

.column-options th, .column-options td {
	font-family: Helvetica, Arial, sans-serif;
	color: #434343;
	background-color: #f7f7f7;
	border-left:1px solid #ffffff;
	border-right:1px solid #dcdcdc;}

.column-options th {
	font-weight: 12px;
	letter-spacing: 0.12em;
	text-shadow: -1px -1px 1px #999;
	color: #fff;
	background-color: #0cb08b;
	padding: 3px 0px 2px 0px;
	border-bottom: 1px solid #d6d6d6;}

.column-options .odd td {
	background-color: #ededed;}

.column-options th:first-child {
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 7px;}

.column-options th:last-child {
	border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;}

.column-options th:last-child, .column-options td:last-child {
	border-right: 0px;}
